<!DOCTYPE html>

<html lang="en">
  <head>
    <!-- Force latest IE rendering engine or ChromeFrame if installed -->
    <!--[if IE]>
      <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <![endif]-->
    <meta charset="utf-8" />
    <title>Gallery</title>
    <meta name="description" content="Gallery of Lomorage"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="static/lomo/img/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" type="text/css" href="static/lomo/css/gallery.css">
    <!-- Bootstrap styles -->
    <link href="static/bootstrap-3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <!-- Generic page styles -->
    <style>
      body {
        padding-top: 60px;
      }
      @media (max-width: 767px) {
        .description {
          display: none;
        }
      }
    </style>
    <!-- blueimp Gallery styles -->
    <link rel="stylesheet" href="static/blueimp-gallery/css/blueimp-gallery.min.css"/>
  </head>
  <body>
    <div class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button
            type="button"
            class="navbar-toggle"
            data-toggle="collapse"
            data-target=".navbar-fixed-top .navbar-collapse"
          >
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="https://lomorage.com">Lomorage</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li>
                <a href="/import">Import</a>
            </li>
            <li>
                <a href="#" id="logout">Logout</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="container">
      <h1>Lomorage Gallery</h1>
      <blockquote class="description">
        <p>
          Show all images and videos stored in Lomorage<br />
        </p>
      </blockquote>
    </div>
    <!-- The blueimp Gallery widget -->
    <div id="blueimp-gallery" class="blueimp-gallery blueimp-gallery-controls">
      <div class="slides"></div>
      <h3 class="title"></h3>
      <a class="prev">‹</a>
      <a class="next">›</a>
      <a class="close">×</a>
      <a class="play-pause"></a>
    </div>
 
    <script src="static/jquery/jquery.min.js"></script>
    <!-- The jQuery UI widget factory, can be omitted if jQuery UI is already included -->
    <script src="static/jquery/jquery.ui.widget.js"></script>
    <!-- Bootstrap JS is not required, but included for the responsive demo navigation -->
    <script src="static/bootstrap-3.3.7/js/bootstrap.min.js"></script>
    <!-- blueimp Gallery script -->
 
    <script src="static/blueimp-gallery/js/blueimp-helper.js"></script>
    <script src="static/blueimp-gallery/js/blueimp-gallery.js"></script>
    <script src="static/blueimp-gallery/js/blueimp-gallery-fullscreen.js"></script>
    <script src="static/blueimp-gallery/js/blueimp-gallery-indicator.js"></script>
    <script src="static/blueimp-gallery/js/blueimp-gallery-video.js"></script>
    <script src="static/blueimp-gallery/js/jquery.blueimp-gallery.js"></script>
    <!-- ... 
    <script src="static/blueimp-gallery/js/jquery.blueimp-gallery.min.js"></script>
    -->
 
    <!--<script src="static/js/jquery.lazy.min.js"></script>-->
    <script src="static/jquery/jquery.lazy.js"></script>

    <!-- The main application script -->
    <script src="static/lomo/js/conf.js"></script>
    <script src="static/lomo/js/gallery.js"></script>


    <div id="links">
    </div>
  </body>
</html>
