img.lazy {
    height: 200px;
    width: 200px;
    object-fit: cover;
    /*
    display: block;
    */
}

.image-thumbnail {
    position: relative;
    display: inline-block;
    cursor: pointer;
    margin: 10px;
}

.video-thumbnail {
    position: relative;
    display: inline-block;
    cursor: pointer;
    margin: 10px;
}

.video-thumbnail:before {
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    content: "\f01d";
    font-family: FontAwesome;
    font-size: 100px;
    color: #fff;
    opacity: .8;
    text-shadow: 0px 0px 30px rgba(0, 0, 0, 0.5);
}

.video-thumbnail:hover:before {
    color: #eee;
}